<!-- This is the Jinja template using WTForms to determine if the action was successful or not and adapt the layout of the response respectively-->
{% with successes = get_flashed_messages(category_filter=["info"]) %}
    {% if successes %}
        {% for message in successes %}
            <div class="alert alert-success flash">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        {% for message in errors %}
            <div class="alert alert-danger flash">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}