{%extends 'index.html'%}

{%block content%}
    <div id="container">
        <div class="row row1">>THÔNG TIN TÀI KHOẢN</div>
    <div class="row row2">
        <div class="col-md-3 col1">
            <ul>
                <li><a href="">Thông tin tài khoản</a></li>
                <li><a href="">Quản lý đơn hàng</a></li>
            </ul>
         </div>
        <div class="col-md-9 col2">
            <div class="card">
                <h1>g</h1>
            </div>
        </div>
    </div>
    </div>
{%endblock%}