{% extends 'admin_base.html' %}

{%block content%}
{% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                  {{message}}
              </div>
                {% endfor %}
              {% endif %}
              {% endwith %}
    <table class="table row-border display" cellspacing="0px" id="example">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên sản phẩm</th>
                <th></th>
                <th>Thể loại</th>
                <th>Giá</th>
                <th>Ảnh</th>
                <th>Mô tả</th>
            </tr>
            </thead>
            {% for p in products %}
                <tr>
                    <td>{{p.id}}</td>
                    <td><a href="#">{{ p.name }}</a>
                    </td>
                    <td style="width:50px"> <span class="actions">
                            <a href="{{url_for('admin.delete_product',id=p.id)}}" title="Xóa thể loại?" onclick="return confirm('Xóa thể loại?')"><i class="fa fa-trash" aria-hidden></i></a>
                            <a href="{{url_for('admin.edit_product',id=p.id)}}" title="Cập nhật thể loại?" onclick="return confirm('Cập nhật thể loại?')"><i class="fas fa-sync" aria-hidden></i></a>
                        </span></td>
                    <td>{{p.category.name}}</td>
                    <td>{{p.price}}</td>
                    <td><img src="{{url_for('static',filename='uploads/'+p.image)}}" alt="" style="width:50px"></td>
                    <td>{{p.description}}</td>

                </tr>
            {% endfor %}
        </table>
<script>
  $(document).ready(function () {
            var table = $('#example').DataTable({
                lengthMenu: [[10, 20, 50, 100, 200, -1], [10, 20, 50, 100, 200, 'Все']],
                dom: 'Bftlp',
                buttons: [
                    {
                        text: 'Thêm sản phẩm',
                        action: function (e, dt, node, config) {
                            window.open("product/add", "_self");
                        }
                    },
                    {
                        extend: 'csv',
                        text: 'CSV'
                    },
                    {
                        text: 'MS EXCEL',
                        extend:'excel'
                    },
                    {
                        extend: 'pdf',
                        text: 'PDF'
                    },
                    {
                        extend: 'print',
                        text: 'In'
                    }
                ],
                colReorder: true,
                fixedHeader: true,
                order: [ 0, 'asc' ],
                stateSave: true,
                paginationType: 'full_numbers',
                paging: true,
                language: {
                    lengthMenu: "Số bản ghi _MENU_",
                    zeroRecords: "Không tìm thấy bản ghi",
                    info: "Страница _PAGE_ из _PAGES_",
                    infoEmpty: "",
                    infoFiltered: "",
                    loadingRecords: "Đang tải...",
                    processing: "Vui lòng đợi...",
                    search: "Tìm kiếm:",
                    paginate: {
                        first: "Trang đầu",
                        last: "Trang cuối",
                        next: "Trang sau",
                        previous: "Trang trước"
                    }
                }
            });
        });
  </script>
{%endblock%}