<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/themify-icons.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.pink.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/hamburgers.min.css')}}">
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/slick.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/nouislider.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/util.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='static/css/main.css')}}">
<!--===============================================================================================-->

	{%if 'user' in request.path%}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/user.css')}}">
	{%endif%}

	{%if 'change-password' in request.path%}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/password.css')}}">
	{%endif%}
	{{ ckeditor.load_code_theme() }}
</head>
<body class="animsition">

	{%include '_includes/header.html'%}

	<!-- Title Page -->
	{%include '_includes/slider.html'%}


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			

				<!--Sidebar-->
				{% if 'product' not in request.path%}

    			{% endif %}
				<!--end Siderbar-->

				{%block content%}
				{%endblock%}

		</div>
	</section>


	<!--Footer-->
	{% include '_includes/footer.html' %}
	<!--endofooter-->

</body>
</html>
